.o1
{
    width: 100%;
    height: 1350px;
    display: flex;
   padding-top: 150px;
    justify-content: center;
    display: flex;
 padding-bottom: 110px;
}
.k1
{
    width: 100%;
    max-width: 1100px;
 min-height: 1000px;
display: flex;
flex-direction: column;
align-items: center;
}
.top
{
  font-size: 70px;
  height: auto;
  width: 100%;
  font-weight: 400;
  line-height: 1;
  color: white;
  position: sticky;
  top: 150px;
  z-index: 1;
}
.bottom-sticky
{
height: 800px;
width: 100%;
z-index: 20;
margin-top: 100px;
overflow: hidden;
border-radius: 20px;
}
.vid
{
scale: 1.6;
width: 100%; border-radius: 20px;
}
@media only screen and (max-width: 1100px) {
.top
{
    width: 95%;
}
.k1
{
    min-height: 1150px;
}
.o1
{
    height: 1250px;
}
.vid
{
    scale: 2;
}
}
@media only screen and (max-width: 780px) {
    .vid
    {
        scale: 2.7;
    }
    .bottom-sticky
    {
    height: 600px;    
    }
    .o1
    {
        height: 1000px;
        }    .k1
{
    min-height: 800px;
}
}
@media only screen and (max-width: 550px) {
.vid
{
    scale: 4.6;
}
.top
{
    font-size: 40px;
}
}