.o3
{
    min-height: 760px;
    height: 760px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.na-txt3
{
    width: 100%;
    max-width: 1100px;
font-size: 44px;
color: white;

}
.k3
{
width: 100%;
max-width: 1100px;
height: 650px;
min-height: 650px;
display: flex;
justify-content: space-between;
align-items: center;
}
.kwa3
{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.foto3
{
    width: 100%;
    height: 70%;
}
.fotka3
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
}
.small-txt3
{
    font-size: 18px;
    font-weight: 600;

}
.middle-txt3
{
    font-size: 25px;
    font-weight: 500;
}
.na-btn3
{
    width: 70%;
    height: auto;
    display: flex;
margin-top: 10px;
justify-content: space-between;
}
.btn3
{
   width: 48%;
    font-size: 15px;
    background-color:#383838;
    border-radius: 20px;
    border: none;
    height: 35px;
    color: grey;
    font-weight: 600;
    
}
@media only screen and (max-width: 1100px) {
.k3
{
    width: 90%;
    height: 550px;
min-height: 550px;
}
.na-txt3
{
    width: 90%;
}
.o3
{
    min-height: 760px;
    height: 760px;
    padding-bottom: 50px;
}
.na-btn3
{
width: 100%;
}

}
@media only screen and (max-width: 950px) {
.o3
{
    min-height:2900px;
    height: 2900px;
}
.k3
{
    height: 2700px;
    min-height: 2700px;
    flex-direction: column;
}
.kwa3
{
    width: 100%;
    height: 33%;
}
.na-btn3
{
    width: 40%;
}
}
@media only screen and (max-width: 620px) {
.na-btn3
{
    width: 70%;
}
.o3
{
    min-height:2250px;
    height: 2250px;
}
.k3
{
    height: 2100px;
    min-height: 2100px;
    flex-direction: column;
}
}
@media only screen and (max-width: 450px) {
    .o3
    {
        min-height:2000px;
        height: 2000px;
    }
    .k3
    {
        height: 1800px;
        min-height: 1800px;
        flex-direction: column;
    }
}